
<div class="dashboard-btns">
    <a href="/dashboard/add">Add Session</a>
    <a>Add Benchmark</a>
    <a>Saved Workouts</a>
</div>

  <main>
    <h3>Your Benchmarks</h2>
    <div class="benchmark-section">

      <div class="benchmark-circle">{{benchmarks.route_grade}}</div>
      <div class="benchmark-circle">V{{benchmarks.boulder_grade}}</div>
    </div>
  {{#if workouts.length}}
    <h3>Your Workouts</h2>
    {{#each workouts as |workout|}}
    <section>
      <div class="section-header">
        <div class="section-header-content">
          <em class="date">{{workout.date}}</em>
        </div>
      </div>
      <a href="/workout/{{workout.id}}">
        <div class="section-body">
          <p>{{workout.category}} | <em>{{workout.time}} minutes</em> | {{workout.level}}</p>
        </div>
      </a>
    </section>
    {{/each}}
  {{/if}}
  </main>