<main>
    <section>
      <div class="section-header">
        <div class="section-header-content">
          <a href="/session/{{id}}" class="username">{{user.username}}</a>
          <em class="date">{{date}}</em>
        </div>
      </div>
      <a>
        <div class="section-body">
          <p>{{category}} | <em>{{time}} minutes</em> | {{level}}</p>
        </div>
      </a>
    </section>
</main>