 <main>
    <div class="search-input-container">
      <input class="search-input" type="text" placeholder="Search a user to view their workouts!">
    </div>
  <!--searched user using kudos.user_id???-->
    {{#each users as |user|}}
    <section>
      <div class="section-header">
        <div class="section-header-content">
          <a href="/session/{{kudos.id}}" class="username">{{kudos.user_id.username}}</a>
          <em class="date">{{kudos.workoutout_id.date}}</em>
        </div>
      </div>
      <a>
        <div class="section-body">
          <p>{{kudos.workout_id.category}} | <em>{{kudos.workout_id.time}} minutes</em> | {{kudos.workout_id.level}}</p>
        </div>
      </a>
    </section>
    {{/each}}
</main>
    <!--section>
      <div class="section-header">
        <div class="section-header-content">
          <p class="username">Searched-Username</p>
          <em class="date">MM/DD/YYYY</em>
        </div>
      </div>
      <a>
        <div class="section-body">
          <p>Workout Type | <em>Time</em> | Level</p>
        </div>
      </a>
    </section>

    <section>
      <div class="section-header">
        <div class="section-header-content">
          <p class="username">Searched-Username</p>
          <em class="date">MM/DD/YYYY</em>
        </div>
      </div>
      <a>
        <div class="section-body">
          <p>Workout Type | <em>Time</em> | Level</p>
        </div>
      </a>
    </section>

    <section>
      <div class="section-header">
        <div class="section-header-content">
          <p class="username">Searched-Username</p>
          <em class="date">MM/DD/YYYY</em>
        </div>
      </div>
      <a>
        <div class="section-body">
          <p>Workout Type | <em>Time</em> | Level</p>
        </div>
      </a>
    </section>