<main>
    <form id="search-input-cont" class="search-input-container">
      <div>
        <label for="search-users"></label>
        <input class="search-input" type="text" placeholder="Search a user to view their workouts!" id="search-users" />
      </div>
      <div>
        <button type="submit" id="search" class="search-btn">Search</button>
      </div>
    </form>
  {{#if data}}
    {{#each data as |workout|}}
    <section>
      <div class="section-header">
        <div class="section-header-content">
          <a href="/workout/{{workout.id}}" class="username">{{workout.user.username}}</a>
          <em class="date">{{workout.date}}</em>
        </div>
      </div>
      <a>
        <div class="section-body">
          <p>{{workout.category}} | <em>{{workout.time}} minutes</em> | {{workout.level}}</p>
        </div>
      </a>
    </section>
    {{/each}}
  {{/if}}
</main>
<script src="/js/search.js"></script>

    