<main>
    <section class="workout-session">
      <div class="section-header">
        <div class="section-header-content">
          <p class="username">{{workout.user.username}}</p>
          <em class="date">{{workout.date}}</em>
        </div>
      </div>
      <div class="session-content">
        <p>Category: <span class="session-span">{{workout.category}}</span></p>
        <p>Time to complete: <span class="session-span">{{workout.time}} minutes</span></p>
        <p>Level of difficulty: <span class="session-span">{{workout.level}}</span></p>
        <p class="description-header">Description:</p>
          <span class="session-span description">{{workout.description}}</span>
      </div>
      <a>
        <div class="save-banner">
          <button class="btn-no-style save-btn"><i class="fas fa-bookmark save-icon"></i>SAVE WORKOUT</button>
        </div>
      </a>
    </section>
</main>
    
    