<main>

    <main>
    {{#each workouts as |workout|}}
    <section>
      <div class="section-header">
        <div class="section-header-dashboard">
          <a href="/session/{{workout.id}}" class="username">{{workout.user.username}}</a>
          <em class="date">{{workout.date}}</em>
        </div>
      </div>
       <div class="session-content">
        <p>Category: <span class="session-span">{{workout.category}}</span></p>
        <p>Time to complete: <span class="session-span">{{workout.time}}</span></p>
        <p>Level of difficulty: <span class="session-span">{{workout.level}}</span></p>
        
        <P>Description</P>
           <div class="body" id="session-description">
        <p><span class="session-span">{{workout.description}}</span></p>
         </div>
           </div>
      </div>
      <a>
        <div class="delete-banner">
        <button class="btn btn-primary deleteAllButton">DELETE SESSION</button>
        </div>
      </a>
      <a>
        <div class="save-banner"> 
            <button class="update-session" id="btnUpdate" type="button">UPDATE SESSION</button>
        </div>
      </a>
    </section>
    {{/each}}
</main>
    
    
    